*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
    background-color: #c9d6ff;
}